<div class = artist_detail>
  <div class = artist_name>
  <%= @artist.title%>
  </div>
  <div class = edit_delete>
  <%= link_to "アーティスト名の変更",edit_artist_path(params[:id])%>
  <%= link_to "アーティストの削除", artist_path(params[:id]),method: :delete%>
  </div>
</div>

