.artist_detail{
  height:10vh;border: 1px solid black;display:flex;
}
.artist_name{
  width:70vw;border-right:1px solid black;display: flex;align-items: center;justify-content: space-evenly;font-size: 30px;
}
.edit_delete{
  width:30vw;height:10vh;display:flex;justify-content:space-around;align-items: center;
}

.space{
  height:8vh;font-size: 20px;padding-top: 10px;
}
.album{
  border: 1px solid black;font-size: 30px;height:10vh; display:flex; justify-content:space-between;align-items: center;
}
.link_to_songs{
  font-style: italic;font-size:20px;width: 20vw;
}
#submit2{
  width:20vw;height:8vh;border: 1px solid black; 
}
.sign{font-size: 20px;}

.review{height:10vh;}

.back_to_artist{font-size: 15px;}

.star_rate{height: 4vh;}

.link_to_album_edit{font-size:20px;}