.artist_detail{
  height:10vh;border: 1px solid black;display:flex;
}
.artist_name{
  width:70vw;border-right:1px solid black;display: flex;align-items: center;justify-content: center;font-size: 30px;
}
.edit_delete{
  width:30vw;height:10vh;display:flex;justify-content:space-around;align-items: center;
}

.space{
  height:10vh;font-size: 20px;padding-top: 10px;
}
.album{
  border: 1px solid black;font-size: 30px;height:10vh; display:flex; justify-content:space-between;align-items: center;
}
.link_to_songs{
  font-style: italic;
}
#submit2{
  width:20vw;height:8vh;border: 1px solid black; 
}