.song_detail{
  height:10vh;border: 1px solid black;display:flex;
}

.song_name{
  width:70vw;border-right:1px solid black;display: flex;align-items: center;justify-content: center;font-size: 30px;
}

.edit_delete{
  width:30vw;height:10vh;display:flex;justify-content:space-around;align-items: center;
}

.space{
  height:8vh;font-size: 20px;padding-top: 10px;
}
